doxygen/*
.vscode/*
.idea/*
sfmlGraphicsPipeline/extlib/glew-1.13.0/lib/*
sfmlGraphicsPipeline/extlib/SFML-2.5.1/*
doxygen.cfg.bak
README.html
**/build/
*.aux
*.fdb_latexmk
*.fls
*.log
*.gz
*.out
*.aup3-shm
*.aup3-wal
*.aup3